{% extends "layout.html" %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You're all set!</h1>
    
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h2 class="govuk-panel__title">Your space trip is confirmed</h2>
        <div class="govuk-panel__body">
            Get ready for an out-of-this-world experience! 🚀
        </div>
    </div>

    <p class="govuk-body-l">You will receive a confirmation email with further details about your journey.</p>

    <p class="govuk-body">
        If you need to make any changes, please <a href="/destination" class="govuk-link">update your details</a>.
    </p>

    <a href="/" class="govuk-button govuk-!-margin-top-6">Return to homepage</a>
{% endblock %}
