{% extends "layout.html" %}

{% block content %}
    <!-- Title -->
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Welcome to the Space Travel Service</h1>

    <!-- Subtitle -->
    <p class="govuk-body-l govuk-!-margin-bottom-6">Choose your destination: Moon or Mars.</p>

    <!-- Start button -->
    <a href="/destination" class="govuk-button govuk-!-margin-top-6">Start now</a>
{% endblock %}
